<div class="md:flex mx-2 mt-7">
  <div class="basis-3/4 md:text-5xl md:leading-relaxed text-2xl">
    <h1>Hi There,</h1>
    <h1 class=""> I'm<span class="text-yellow-500"> Muhammed Kar</span></h1>
    <h1>
      A <span class="text-yellow-500">Mechatronic</span> Engineer <br /><span
        >and
      </span>
      <span class="text-yellow-500">Frontend </span>Devloper
    </h1>
    <button class="bg-yellow-500 rounded-md text-black py-1 px-3 text-xl font-semibold">
      Contact Me
    </button>
  </div>
  <div class="md:flex items-center justify-center basis-1/4 boreder rounded-md">
    <img src="./assets/images/myPhoto.jpg" alt="Muhammed Kar Photo"  />
  </div>
</div>
